name: Cross-Platform Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --release
      - name: Package .exe
        run: |
          mkdir -p dist
          cp target/release/rew_runtime.exe dist/
      - uses: softprops/action-gh-release@v1
        with:
          files: dist/rew_runtime.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-linux-x86_64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install GNU target
        run: rustup target add x86_64-unknown-linux-gnu

      - name: Build
        run: |
          cargo build --release --target x86_64-unknown-linux-gnu
          mkdir -p dist
          cp target/x86_64-unknown-linux-gnu/release/rew_runtime dist/rew
          tar -czvf dist/rew-linux_x86_64.tar.gz -C dist rew

      - uses: softprops/action-gh-release@v1
        with:
          files: dist/rew-linux_x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-linux-arm64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies for cross-compilation
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu

      - name: Add ARM64 GNU target
        run: rustup target add aarch64-unknown-linux-gnu

      - name: Build for aarch64
        env:
          CC_aarch64_unknown_linux_gnu: aarch64-linux-gnu-gcc
        run: |
          cargo build --release --target aarch64-unknown-linux-gnu
          mkdir -p dist
          cp target/aarch64-unknown-linux-gnu/release/rew_runtime dist/rew
          tar -czvf dist/rew-linux_arm64.tar.gz -C dist rew

      - uses: softprops/action-gh-release@v1
        with:
          files: dist/rew-linux_arm64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --release
      - name: Package
        run: |
          mkdir -p dist
          cp target/release/rew_runtime dist/rew
          sudo rm -rf /usr/local/lib/android
          cargo clean
          hdiutil create dist/rew-darwin.dmg -srcfolder dist -volname "rew"
      - uses: softprops/action-gh-release@v1
        with:
          files: dist/rew-darwin.dmg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
